<ion-header>
  <ion-toolbar>
  <ion-menu-toggle class="class1">
 <ion-icon name="menu"></ion-icon>
     </ion-menu-toggle>
    <ion-title>tutorial</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-item>
  <ion-text color="primary">
  <h1>
    GET STARTED TUTORIAL
  </h1>
</ion-text>
</ion-item>
<ion-item>
<ion-text color="dark">
<p>
  The Acumeet Training Team is on a daily mission to provide happiness to our users,
   and doing so means enabling their everyday success with Acumeet.
   Whether you are an administrator, teacher, student, or independent professional, 
   we have training to help you effectively use Acumeet for virtual education!
   Here are some of the ways to quickly learn Acumeet:
</p>

</ion-text>
</ion-item>



</ion-content>
