#agora_local{
    height: 500px;
    width: 500px;
    float: left;
    margin-left: auto;
  margin-right: auto;
}

.remote-containers div{
    height: 500px;
    width: 500px;
    float:left; /* add this */
    margin-left: auto;
  margin-right: auto;
}