ion-tab-button{
	--color-selected:#fff;
}
img {
  margin-left: 10px;
  margin-top: 60px;
  height: 60px;
}
ion-card-subtitle {
  margin-left: 70px;
  padding-top: 30px;
  color: "dark";
}
.user-part {
  height: 150px;
  background-image: url("https://images.pexels.com/photos/3799821/pexels-photo-3799821.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

ion-item {
  margin-top: 20px;
  color: #3490de;
}